[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
django-rest-swagger = "*"
drf-yasg = "*"
psycopg2 = "==2.7.5"
django-extensions = "*"
jupyter = "*"
pyjwt = "*"
numpy = "*"

[requires]
python_version = "3.7"
